@model SurveyPortal.Models.SurveyQuestion

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Heading</h2>

@{
    string RenderQuestions(List<SurveyPortal.Models.Option> Options)
    {
        return "<p>@Options.Count</p>";
    }


}

}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    @if (ViewBag.Message != null)
                    {
    <div role="alert" class="alert alert-success">
        @ViewBag.Message
    </div>
                    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SurveyId)
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control col-md-10" } })
            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
        </div>
    </div>

    @RenderQuestions(Model.Options)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "ListOfQuestionBySurvey", new { SurveyId = ViewBag.SurveyId })
</div>
