@model IEnumerable<SurveyPortal.Models.SurveyQuestion>

@{
    ViewBag.Title = "ListOfQuestionBySurvey";
}

<h2>List Of Question By Survey</h2>

<p>
    @Html.ActionLink("Add Question", "AddQuestion", new { SurveyId = Model.First().SurveyId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfOptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Options)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfOptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Options)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
