<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APTECH Survey Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div @*class="navbar navbar-inverse navbar-fixed-top"*@   class="p-3 mb-2 bg-info text-white navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Survey Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Survey Board", "SurveyBoard", "Survey")</li>
                    <li>@Html.ActionLink("Support", "Support", "Home")</li>
                    <li>@Html.ActionLink("FAQs", "Faq", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Manage FAQs", "Index", "Faq")</li>
                            <li>@Html.ActionLink("Manage Users", "ManagerUser", "Account")</li>
                            <li>@Html.ActionLink("Manage Option Types", "Index", "OptionType")</li>
                            <li>@Html.ActionLink("Manage Survey", "Manage", "Survey")</li>
                            <li>@Html.ActionLink("Manage Competition", "Index", "Competition")</li>
                            <li>@Html.ActionLink("Manage Support Info", "ManageSupport", "Supportinfo")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "glyphicon glyphicon-user" })</li>
                    <li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "glyphicon glyphicon-log-in" })</li>
                </ul>
            </div>
        </div>
    </div>





    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>*@
            @*<p>&copy; @DateTime.Now.Year - APTECH Survey Portal</p>*@


            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4    p-3 mb-2 bg-info text-white">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase" >Use Cases:</h5>
                            <p>Online Polls Facebook Surveys survey template Scheduling PollsGoogle Forms vs. Survey Portal Satisfaction  Survey Templates Surveys How to Improve Customer ServiceAB Test Significance CalculatorNPS Calculatorquestionnaire templates Event Survey</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Community</h5>

                            <ul class="list-unstyled">
                               
                                <li>
                                    <a href="#!">Facebook</a>
                                </li>
                                <li>
                                    <a href="#!">Twitter</a>
                                </li>
                                <li>
                                    <a href="#!">YouTube</a>
                                </li>
                                <li>
                                    <a href="#!">Instagram</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">About Us:</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Leadership Team</a>
                                </li>
                                <li>
                                    <a href="#!">Leadership Team</a>
                                </li>
                                <li>
                                    <a href="#!">Investor Relations</a>
                                </li>
                                <li>
                                    <a href="#!">App Directory</a>
                                </li>
                               
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    <p>&copy: @DateTime.Now.Year - APTECH Survey Portal</p> 
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        @*</footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/userScripts")
    @RenderSection("scripts", required: false)
</body>
</html>


@*<div>
        <a href="#" style="margin-top:29px;margin-left:15px;"
           class="btn btn-info add-row" role="button"> <i class="fa fa-plus"></i> Add Row</a>
    </div>
    <div id="firstDriver_initialForm">
        <form method="post" id="frmElements" class="form-group">
            @Html.HiddenFor(model => model.IncrementValue)
            <div class="container">
                <div class="dynamic-rows">
                    <div class="row" id="template" data-order="0">
                        <div class="row filter">
                            <div class="col-md-3">
                                <label class="bold">Enter Name:</label>
                                @Html.TextBoxFor(model => model.lstTemplateModels.Name, new { @class = "form-control demo", placeholder = "Enter Name" })
                            </div>
                            <div class="col-md-3">
                                <label class="bold">Remember Me:</label>
                                @Html.CheckBoxFor(model => model.lstTemplateModels.IsChecked, new { @class = "form-control form-check-input", @style = "margin-top:12px;height:20px;" })
                            </div>
                            <div class="col-md-3">
                                <label class="bold">DropDown:</label>
                                @Html.DropDownListFor(model => model.lstTemplateModels.DropDownValue, new List<SelectListItem>
                           {
                               new SelectListItem {Text="Single",Value="SINGLE"},
                               new SelectListItem {Text="Married",Value="MARRIED"}
                           }, "Select Status", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <button style="margin-top:31px;" type="submit" class="btn btn-danger delete-row" data-val="0"><i class="fa fa-trash"></i> Delete Row</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button style="margin-top:18px;margin-left:35px;" id="saveTemplate" type="submit" class="btn btn-success">Submit</button>*@
