@model SurveyPortal.Models.ViewModelSurveyQuestion

<h2>
    Preview: @Html.DisplayFor(model => model.Survey.Name)
</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <label class="col-md-3">Start Date:</label>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Survey.StartDate)
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-3">End Date:</label>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Survey.EndDate)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="col-md-3">Back Button:</label>
            <div class="col-md-3">
                @if (Model.Survey.BackButton == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-3">Renewable:</label>
            <div class="col-md-3">
                @if (Model.Survey.Reviewable == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="col-md-3">Internal Only:</label>
            <div class="col-md-3">
                @if (Model.Survey.InternalOnly == true)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-3">Survey For:</label>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Survey.SurveyFor)
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div id="questionDiv" class="lead">
        </div>
        <div id="optionDiv">
        </div>
        <div class="col-md-offset-5">
            <button class="btn btn-primary" onclick="survey().previous()">Previous</button>
            <button class="btn btn-primary" onclick="survey().next()">Next</button>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Manage")
    </div>

</div>

@section Scripts{
    <script>
        
        var model = @Html.Raw(Json.Encode(Model));
        survey.Model = model;

    </script>
} 