@model SurveyPortal.Models.Competition
    
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>List Of Available Surveys</h1>
    <p class="lead">
        @Html.DisplayFor(model => model.Introduction)
    </p>
    <p>
        @Html.DisplayFor(model => model.Details)
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Competition Survey:</h2>
        <p>
            @Html.DisplayFor(model => model.Survey.Name)
        </p>
        <p>
            @Html.DisplayFor(model => model.Survey.Description)
        </p>
        <p>
            @Html.ActionLink("Participate in survey", "Participate", "Survey", new { SurveyId = Model.SurveyId}, null)
        </p>
    </div>
</div>
